<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<section>
 <div class="login-form">
   <div class="text">LOGIN</div>
   <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

     <div class="field">
       <div class="fas fa-envelope"></div>
       <input type="email" name="emailId" ngModel placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
     </div>
     <div *ngIf="loginForm.controls?.['emailId']?.errors?.['required'] && loginForm.controls?.['emailId']?.touched" class="alert alert-danger">
       <h6>Email is required</h6>
     </div>
     <div *ngIf="loginForm.controls?.['emailId']?.errors?.['pattern'] && loginForm.controls?.['emailId']?.touched" class="alert alert-danger">
       <h6>Invalid email format</h6>
     </div>
     <div class="field">
       <div class="fas fa-lock"></div>
       <input type="password" name="password" ngModel placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$">
     </div>
     <div *ngIf="loginForm.controls?.['password']?.errors?.['required'] && loginForm.controls?.['password']?.touched" class="alert alert-danger">
       <h6>Password is required</h6>
     </div>
     <div *ngIf="loginForm.controls?.['password']?.errors?.['pattern'] && loginForm.controls?.['password']?.touched" class="alert alert-danger">
       <h6>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)</h6>
     </div>
     <button>LOGIN</button>
     <br>
     <br>
     <br>
     <hr>
     <div class="link">
      <!-- <button  routerLink="login/mobileno"  (click)="forgot()">Click here</button> -->
      <input type="submit"  value="Forgot Password" routerLink="forgotpassword"/> <p>Not a member? <a class="register" routerLink='/register'>Register</a></p>
     </div>
   </form>
 </div>
</section>
<!-- (click)="forgot()" routerLink="/mobileno" -->